<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.reset.success.title}">La Cache d'Art password reset success</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.success.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.reset.success.text1}">
            The password for your La Cache d'Art account was successfully modified.
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">La Cache d'Art.</em>
        </p>
    </body>
</html>
